md-toolbar {
  min-height: auto;
}

md-input-container {
  margin: 0;
}

.cityName {
  text-align: center;
}

.myForm {
  width: 50%;
  margin: 0 auto;
}

md-card {
  min-width: 285px;
}

md-divider {
  margin: 20px 0;
}

.forecastBtn {
  display: block;
  margin: auto;
}

md-card-title-media > img.weather-icon {
  margin: 0 auto;
  width: auto;
}

.temp {
  background-color: antiquewhite;
  padding: 5px;
  border-radius: 10px;
  border: 1px solid rgb(125 125 125);
}

.errorMsg {
  text-align: center;
  width: 100%;
  color: red;
  text-transform: uppercase;
  font-weight: bold;
}

.weather-row > h2 {
  text-align: center;
}

.weather-row > .layout-row {
  justify-content: center;
}
