<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Angular Weather</title>
    <link
      rel="stylesheet"
      href="/node_modules/angular-material/angular-material.css"
    />
    <link rel="stylesheet" href="./app.css" />
  </head>
  <body ng-app="myApp">
    <md-toolbar ng-controller="ToolBarController">
      <div>
        <md-button ng-click="go('weather')">Angular JS Weather</md-button>
        <md-button ng-click="go('/')">Home</md-button>
      </div>
    </md-toolbar>

    <div ng-view></div>

    <script src="/node_modules/angular/angular.min.js"></script>
    <script src="/node_modules/angular-aria/angular-aria.min.js"></script>
    <script src="/node_modules/angular-animate/angular-animate.min.js"></script>
    <script src="/node_modules/angular-messages/angular-messages.min.js"></script>
    <script src="/node_modules/angular-material/angular-material.min.js"></script>
    <script src="/node_modules/angular-resource/angular-resource.min.js"></script>
    <script src="/node_modules/angular-route/angular-route.min.js"></script>
    <script src="apiKey.js"></script>
    <script src="app.js"></script>
    <script src="./services/cityNameService.js"></script>
    <script src="./controllers/toolBar.js"></script>
    <script src="./controllers/home.js"></script>
    <script src="./controllers/weather.js"></script>
    <script src="./directives/weatherBlock.js"></script>
    <script src="./routes/route.js"></script>
  </body>
</html>
