<div class="cityName" ng-if="errorMsg.length <= 0">
  <h1 class="md-display-3">{{cityName}}</h1>

  Intervals:
  <br />
  <md-button
    class="md-raised md-primary"
    ng-disabled="{{hourIntervals === 24}}"
    ng-click="go('weather/24')"
    >24</md-button
  >
  <md-button
    class="md-raised md-primary"
    ng-disabled="{{hourIntervals === 32}}"
    ng-click="go('weather/32')"
    >32</md-button
  >

  <md-button
    class="md-raised md-primary"
    ng-disabled="{{hourIntervals === 40}}"
    ng-click="go('weather/40')"
    >40</md-button
  >
  <md-divider></md-divider>
</div>
<p class="errorMsg" ng-if="errorMsg.length > 0">{{errorMsg}}</p>
<div class="weather-row" ng-repeat="(date, day) in weatherAPIOutput">
  <h2 class="md-display-1">{{date}}</h2>
  <div layout="row" layout-wrap="">
    <weather-block
      ng-repeat="w in day"
      date="{{w.dt}}"
      image="{{w.weather[0].icon}}"
      description="{{w.weather[0].description}}"
      temp="{{w.main.temp}}"
      convert-time="convertTime(date)"
      convert-temp-to-c="convertTempToC(temp)"
    ></weather-block>
  </div>
</div>
