<div class="cityName">
  <h1>{{cityName}}</h1>

  Intervals:
  <br />
  <md-button
    class="md-raised md-primary"
    ng-disabled="{{hourIntervals === 4}}"
    ng-click="go('weather/4')"
    >4</md-button
  >
  <md-button
    class="md-raised md-primary"
    ng-disabled="{{hourIntervals === 8}}"
    ng-click="go('weather/8')"
    >8</md-button
  >

  <md-button
    class="md-raised md-primary"
    ng-disabled="{{hourIntervals === 12}}"
    ng-click="go('weather/12')"
    >12</md-button
  >
</div>

<md-divider></md-divider>

<div layout="row" layout-wrap="">
  <md-card
    md-theme="{{ showDarkTheme ? 'dark-grey' : 'default' }}"
    md-theme-watch
    ng-repeat="w in weatherAPIOutput.list"
  >
    <md-card-title layout="column">
      <md-card-title-text>
        <span class="md-headline"
          >{{convertDate(w.dt) | date: 'MMM d, y h:mm a'}}</span
        >
        <span class="md-subhead">{{w.weather[0].description}}</span>
      </md-card-title-text>
      <md-card-title-media>
        <div class="md-media-lg card-media"></div>
      </md-card-title-media>
    </md-card-title>
    <md-card-content>
      <p>
        Temperature:
        <span class="temp md-title"
          >{{convertTempToC(w.main.temp)}} &#8451;</span
        >
      </p>
    </md-card-content>
    <!-- <md-card-actions layout="row" layout-align="end center">
      <md-button>Action 1</md-button>
      <md-button>Action 2</md-button>
    </md-card-actions> -->
  </md-card>
</div>
